.card-header {
	background-color: #007502;
}

.btn-link {
	color: #ffffff;
    background-color: transparent;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.btn-link:hover {
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
	color: #ffffff;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.panel-heading {
    backGround-color: #007502;
    color: #ffffff;
    text-align: center;
}

.panel-heading {
    backGround-color: #000000;
    color: #ffffff;
    text-align: center;
}

.panel-collapse a {
    text-align: center;
    color: #000000;
}

.panel-collapse a {
    text-align: center;
    color: #ffffff;
}

.btn .btn-link .btn-block {
    text-align: center;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}