.navbar.navbar-6 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=C54245');
  padding: 30px 40px;
}

#navigation {
    background-color: #007502;
    font-family: xmasFont;
}

@font-face {
    font-family: stnick;
    src: url(stnicholas.ttf);
}

@font-face {
    font-family: xmasFont;
    src: url(snowinter.ttf);
}

body {
    font-family: xmasFont;
    #font-family: 'Snowinter', sans-serif;
    background: #000000;
}

#enterSiteDiv {
    padding: 40px 20px;
}

.btn-group-lg>.btn, .btn-lg  {
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    font-size: 32px;
}

.navbar-brand {
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    font-size: 32px;
    font-weight: 400;
    font-family: xmasFont;
}

.navbar-nav .nav-link {
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: xmasFont;
}

.navbar-link {
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    font-size: 46px;
}


.input-group-prepend {
    width: 140px;
    background-color: #C54245;
    color: #C54245;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    color: #ffffff;
    background-color: #C54245;
}

.input-group input-group-lg {
}

.input-group-text {
    border: 0px;
    font-size: 32px;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

#footerLinks, .centered-a {
    color: #FFFFFF;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.btn-danger {
    background-color: #C54245;
}

.btn-success {
    background-color: #007502;
}

.bg-success {
    background-color: #007502!important;
}
.btn-info {
    background-color: #ffffff;
    color: #007502;
}

button {
    margin-top:17px;
}

a {
    font-family: stnick;
    font-weight: bold;
    word-break: break-word;
    font-size: 24px;
}

h2 {
    margin-top:15px;
}

h3 {
    font-family: stnick;
    font-weight: bold;
    margin-top:5px;
    font-size: 32px;
    color: #000000
}

.form-control {
    font-family: stnick;
    font-size: 24px;
    font-weight: bold;
}

textarea {
    font-family: stnick;
    font-weight: bold;
    margin-top:5px;
    font-size: 32px;
}

input {
    font-size: 32px;
}
