.navbar.navbar-6 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=C54245');
  padding: 30px 40px;
}

#navigation {
    background-color: #007502;
}
@font-face {
    font-family: xmasFont;
    src: url(stnicholas.ttf);
}

body {
    font-family: xmasFont;
    #font-family: 'Snowinter', sans-serif;
    background: #000000;
}
#enterSiteDiv {
    padding: 40px 20px;
}
.btn-group-lg>.btn, .btn-lg  {
    font-size: 32pt;
}

.navbar-brand {
    font-size: 32pt;
}

.navbar-nav .nav-link {
    font-size: 24pt;
    text-align: center;
}

.navbar-link {
    font-size: 46pt;
}

.form-control-lg, .input-group-lg>.form-control, .input-group-lg>.input-group-append>.btn, .input-group-lg>.input-group-append>.input-group-text, .input-group-lg>.input-group-prepend>.btn, .input-group-lg>.input-group-prepend>.input-group-text {
    font-size: 20pt;
}

.input-group-prepend {
    width: 130px;
    background-color: #e9ecef;
}

.input-group-text {
    border: 0px;
    font-size: 32px;
    font-weight: bold;
}

#footerLinks, .centered-a {
    color: #FFFFFF;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.btn-danger {
    background-color: #C54245;
}

.btn-success {
    background-color: #007502;
}

.bg-success {
    background-color: #007502!important;
}
.btn-info {
    background-color: #ffffff;
    color: #007502;
}
button {
    margin-top:17px;
}

a {
   word-break: break-word;
}

h2 {
    margin-top:15px;
    font-weight: bold;
}

h3 {
    margin-top:5px;
    font-size: 32px;
    font-weight: bold;
}

textarea {
    margin-top:5px;
    font-size: 32px;
    font-weight: bold;
}

input {
    font-size: 32px;
    font-weight: bold;
}
